In [1]:
import pandas as pd
# import numpy as np
import psycopg2

In [27]:
# import sqlite3

# Establish a connection to the database
# conn = sqlite3.connect('.db')
conn = psycopg2.connect("postgresql://formspocbdadmin%40forms-poc-db:n8Lx8MJ2xqz6Xis@forms-poc-db.postgres.database.azure.com/doc-ai")
# Execute the SQL query and load results into a DataFrame
# query="select * from field_data_set"

query="SELECT \
    transform_expected_fields.doc_name, \
    field_data_set.field_key as field, \
    field_data_set.value as predicted_value, \
    transform_expected_fields.field_value as expected_value, \
    field_data_set.confidence \
   FROM field_data_set \
     LEFT JOIN latest_api_request USING (request_id) \
     JOIN transform_expected_fields ON concat(btrim(transform_expected_fields.doc_name::text), '.png') = btrim(latest_api_request.file_name::text) AND transform_expected_fields.mapped_field_name = field_data_set.field_key " 
df = pd.read_sql(query, conn)
df.head()

# df = pd.read_sql(query, conn)

# # Close the database connection
conn.close()

/var/folders/cn/m21m5qns6dsb8lsvdv502kjm0000gp/T/ipykernel_11673/1193552873.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [28]:
df

,doc_name,field,predicted_value,expected_value,confidence
0,Allianz01 ...,Insured Business,None,Australia Pty Ltd ...,0.721
1,Allianz01 ...,ABN,None,nan ...,None
2,Allianz01 ...,Date of issue,None,2022-06-01 00:00:00 ...,0.022
3,Allianz01 ...,Amount Limit,"10,000,000",nan ...,0.08
4,Allianz01 ...,Insurer Name,Policy no. 99XAV1234XAVIXAV\nCERTIFICATE OF IN...,Allianz ...,0.031
...,...,...,...,...,...
155,Vero01 ...,Amount Limit,"$ 10,000,000\n$ 10,000,000",nan ...,0.07
156,Vero01 ...,Insurer Name,None,Vero Insurance ...,0.961
157,Vero01 ...,Policy Number,DPC012345678,DPC012345678 ...,0.467
158,Vero01 ...,Policy Period From,2022-04-01T00:00:00+00:00,2022-04-01 00:00:00 ...,0.261
159,Vero01 ...,Policy Period To,2023-04-01T00:00:00+00:00,2023-04-01 00:00:00 ...,0.436

In [29]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [30]:
df.fillna(-1, inplace=True)

In [31]:
df = df.replace("nan", -1)

In [32]:
def assign_score(row):
    if (row['expected_value']==-1) and (row['predicted_value'] == -1):
        return 'TN'
    elif row['predicted_value'] == row['expected_value']:
        return 'TP'
    elif (row['expected_value']==-1) and (row['predicted_value'] != -1):
        return 'FN'
    elif (row['predicted_value']==-1) and (row['expected_value']!=-1):
        return 'FP'
    else:
        return 'FN'

In [33]:
df['score'] = df.apply(lambda row: assign_score(row), axis=1)

In [34]:
df

,doc_name,field,predicted_value,expected_value,confidence,score
0,Allianz01,Insured Business,-1,Australia Pty Ltd,0.721,FP
1,Allianz01,ABN,-1,-1,-1,TN
2,Allianz01,Date of issue,-1,2022-06-01 00:00:00,0.022,FP
3,Allianz01,Amount Limit,"10,000,000",-1,0.08,FN
4,Allianz01,Insurer Name,Policy no. 99XAV1234XAVIXAV\nCERTIFICATE OF IN...,Allianz,0.031,FN
...,...,...,...,...,...,...
155,Vero01,Amount Limit,"$ 10,000,000\n$ 10,000,000",-1,0.07,FN
156,Vero01,Insurer Name,-1,Vero Insurance,0.961,FP
157,Vero01,Policy Number,DPC012345678,DPC012345678,0.467,TP
158,Vero01,Policy Period From,2022-04-01T00:00:00+00:00,2022-04-01 00:00:00,0.261,FN
159,Vero01,Policy Period To,2023-04-01T00:00:00+00:00,2023-04-01 00:00:00,0.436,FN

In [35]:
df = df.groupby('field')['score'].value_counts().unstack(fill_value=0).reset_index()

In [37]:
df["total_doc"]=df['TP']+df['TN']+df['FP']+df['FN']

In [41]:
df['accuracy']=df["TP"]/df["total_doc"]

In [42]:
df['precision']=df["TP"]/(df["total_doc"]-df["FP"])

In [44]:
df['recall']=df["TP"]/(df["total_doc"]-df["FN"])

In [45]:
df

score,field,FN,FP,TN,TP,total_doc,accuracy,precision,recall
0,ABN,0,4,16,0,20,0.00,0.0000,0.0
1,Amount Limit,20,0,0,0,20,0.00,0.0000,NaN
2,Date of issue,0,20,0,0,20,0.00,NaN,0.0
3,Insured Business,13,6,1,0,20,0.00,0.0000,0.0
4,Insurer Name,15,4,0,1,20,0.05,0.0625,0.2
5,Policy Number,6,0,0,14,20,0.70,0.7000,1.0
6,Policy Period From,7,13,0,0,20,0.00,0.0000,0.0
7,Policy Period To,2,18,0,0,20,0.00,0.0000,0.0