In [2]:
import pandas as pd
# import numpy as np
import psycopg2

In [4]:
# import sqlite3

# Establish a connection to the database
# conn = sqlite3.connect('.db')
conn = psycopg2.connect("postgresql://formspocbdadmin%40forms-poc-db:n8Lx8MJ2xqz6Xis@forms-poc-db.postgres.database.azure.com/doc-ai")
# Execute the SQL query and load results into a DataFrame
# query="select * from field_data_set"

query="SELECT \
    transform_expected_fields.doc_name, \
    field_data_set.field_key as field, \
    field_data_set.value as predicted_value, \
    transform_expected_fields.field_value as expected_value, \
    field_data_set.confidence \
   FROM field_data_set \
     LEFT JOIN latest_api_request USING (request_id) \
     JOIN transform_expected_fields ON concat(btrim(transform_expected_fields.doc_name::text), '.png') = btrim(latest_api_request.file_name::text) AND transform_expected_fields.mapped_field_name = field_data_set.field_key " 
results_df = pd.read_sql(query, conn)
results_df.head()

# df = pd.read_sql(query, conn)

# # Close the database connection
conn.close()

/var/folders/cn/m21m5qns6dsb8lsvdv502kjm0000gp/T/ipykernel_49702/3511649124.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  results_df = pd.read_sql(query, conn)

In [5]:
df

,doc_name,field,predicted_value,expected_value,confidence
0,Allianz01 ...,Insured Business,None,Australia Pty Ltd ...,0.721
1,Allianz01 ...,ABN,None,nan ...,None
2,Allianz01 ...,Date of issue,None,2022-06-01 00:00:00 ...,0.022
3,Allianz01 ...,Amount Limit,"10,000,000",nan ...,0.08
4,Allianz01 ...,Insurer Name,Policy no. 99XAV1234XAVIXAV\nCERTIFICATE OF IN...,Allianz ...,0.031
...,...,...,...,...,...
155,Vero01 ...,Amount Limit,"$ 10,000,000\n$ 10,000,000",nan ...,0.07
156,Vero01 ...,Insurer Name,None,Vero Insurance ...,0.961
157,Vero01 ...,Policy Number,DPC012345678,DPC012345678 ...,0.467
158,Vero01 ...,Policy Period From,2022-04-01T00:00:00+00:00,2022-04-01 00:00:00 ...,0.261
159,Vero01 ...,Policy Period To,2023-04-01T00:00:00+00:00,2023-04-01 00:00:00 ...,0.436

In [6]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [8]:
df.fillna(-1, inplace=True)

In [7]:
df = df.replace("nan", -1)

In [9]:
def assign_score(row):
    if row['predicted_value'] == row['expected_value']:
        return 'RA'
    elif (row['expected_value']==-1) and (row['predicted_value'] != -1):
        return 'WA2'
    elif (row['predicted_value']==-1) and (row['expected_value']!=-1):
        return 'WA1'
    else:
        return 'WA'

In [10]:
df['score'] = df.apply(lambda row: assign_score(row), axis=1)

In [11]:
df = df.groupby('field')['score'].value_counts().unstack(fill_value=0).reset_index()

In [12]:
df["total_doc"]=df['RA']+df['WA']+df['WA1']+df['WA2']

In [13]:
df['accuracy']=df["RA"]/df["total_doc"]

In [14]:
df['precision']=df["RA"]/(df["total_doc"]-df["WA1"])

In [15]:
df['recall']=df["RA"]/(df["total_doc"]-df["WA2"])